*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
a{
  text-decoration: none;
  color: inherit;
  font-family: "Inter",sans-serif;
  font-style: normal;
}
body{
  line-height: 1;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  border: 0;
}
ul{
  list-style-type: none;
  li{
    font-family: "Inter",sans-serif;
    font-style: normal;
  }
}
button{

}
h1{

}
h2{
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 61px;
  line-height: 63px;
  text-align: center;
}
h3{
  font-family: "Inter",sans-serif;
  font-style: normal;
}
h4{
  font-family: "Inter",sans-serif;
}

h5{
  font-family: "Inter",sans-serif;
}
h6{
  font-family: "Inter",sans-serif;
}

p{
  font-family: "Inter",sans-serif;
  font-style: normal;
}
